body{
    text-align: center;
}
#logo{
    width: 165px;
    height: 58px;
    margin-top: 80px;
}
#image{
    width: 90%;
    height: auto;
}
.menu{
    margin: 60px 10px;
    display: inline-block;
}
.menu > a {
    font-size: 16px;
    font-family: "Helvetica";
    color : rgb(88, 89, 91);
    text-decoration: none;
}